@charset "UTF-8";

$gradient1: linear-gradient(to bottom,  #0e1111 0%, #414a4c 187%);
$gradient2: linear-gradient(to bottom, #20962A 0%, #5DE368 187%);


html {
  height: 100%;
  
  backdrop-filter: blur(8px);
  background-size: cover;
  background-image: url("../Bilder/background8.jpg");


}

.main {
  position: relative;
  top: 100px;
  background-color: #ecebeb;
  width: 500px;
  height: 500px;
  margin: 7em auto;
  border-radius: 1.5em;
  border: 0.5em solid #0e1111 #414a4c #0e1111 #414a4c;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.9);
}

.sign {
  padding-top: 40px;
  //color: #8C55AA;
  color: #20962A;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 50px;
  letter-spacing: 2px;
}

.un {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 5px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pass {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 5px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}


.un:focus,
.pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;

}

.submit {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 25px;
  color: #fff;
  //background: linear-gradient(to right, #9C27B0, #E040FB);
  background: linear-gradient(to right, #20962A, #5DE368);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 10px;
  margin-left: 35%;
  font-size: 16px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  position: relative;
  top: 30px;
}

a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}

h1 {
  color: #20962A;
}