@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas, sans-serif;
  }

:root {
    --bg-color: black;
    --primary-color: lightgreen;
    --secondary-color: green;
  }

html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    //background: linear-gradient(to bottom, #0e1111 0%, #414a4c 187%);

}

body {
    background-image: url("../Bilder/background7.jpg");
    background-size: cover;
    overflow: hidden;
}

.logo {
    opacity: 0.8;
}

main {
    position: relative;
    top: 100px;
    background: linear-gradient(to bottom, #808080 0%, #aaaaaa 100%);
    width: 1200px;
    height: 600px;
    margin: 7em auto;
    border-radius: 1.5em;
    border: 0.5em solid #0e1111 #414a4c #0e1111 #414a4c;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.9);
    box-sizing: border-box;
}

.player-image {

    img {
        box-sizing: border-box;
        width: 304px;
        height: 394px;
        border-radius: 1.5em 0 1.5em 0;
    }
}

table {
    position: relative;
    left: 310px;
    bottom: 395px;
    border: 5px double black;
    border-radius: 5px;


    thead {
        font-size: 50px;
    }

}

.btn-bieten {
    position: relative;
    left: 800px;
    display: block;
    padding: 15px 30px;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 18px;
    text-decoration: none;
    font-size: 36px;
    overflow: hidden;
    transition: 0.2s;
  }
  .btn-bieten:hover {
    color: var(--secondary-color);
    background: var(--primary-color);
    box-shadow: 0 0 20px var(--primary-color), 0 0 80px var(--primary-color),
      0 0 160px var(--primary-color), 0 0 320px var(--primary-color);
    transition-delay: 1s;
  }
  
  .btn-bieten span {
    position: absolute;
    display: block;
  }
  .btn-bieten span:nth-child(1) {
    top: 0;
    transform: translateX(-115%);
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, var(--primary-color));
  }
  .btn-bieten:hover span:nth-child(1) {
    transform: translateX(100%);
    transition: 1s;
  }
  .btn-bieten span:nth-child(3) {
    bottom: 0;
    transform: translateX(100%);
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, var(--primary-color));
  }
  .btn-bieten:hover span:nth-child(3) {
    transform: translateX(-115%);
    transition: 1s 0.5s;
  }
  .btn-bieten span:nth-child(2) {
    right: 0;
    transform: translateY(-130%);
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--primary-color));
  }
  .btn-bieten:hover span:nth-child(2) {
    transform: translateY(100%);
    transition: 1s 0.25s;
  }
  .btn-bieten span:nth-child(4) {
    left: 0;
    transform: translateY(100%);
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--primary-color));
  }
  .btn-bieten:hover span:nth-child(4) {
    transform: translateY(-130%);
    transition: 1s 0.75s;
  }